.about {
  margin: 40px auto;
  line-height: 32px;
  font-weight: 300;

  h4 {
    color: red;
    margin: 20px 0;
    font-size: 20px;
  }

  p {
    margin: 45px 0;
    color: var(--dark);
  }

  .section-about {
    margin: 100px 0;
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;

    .sec-box {
      p {
        color: var(--dark);
      }

      img {
        width: 160px;
      }
    }
  }
}
