

body {
    background-color: lightgray;
    font-family: sans-serif;
}

.container {
    width: 40vw;
    height: 57vh;
    /* width: 500px;
    height: 400px; */
    background-color: #fff;
    margin: auto;
    margin-top: 15vh;
    text-align: center;
    box-shadow: 10;
    border: 1px;
    border-radius: 10px;
    box-shadow: 0 0 0.6rem #6f7061;;
}

.profile {
    margin-top: 30px;
    /* width: 150px;
    height: 150px; */
    width: 8rem;
    height: 8rem;
    border: dot gray 1px;
    border-radius: 50%;
}

.title {
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 5px solid lightgray;
    border-radius: 2px;
    width: 15rem;
    margin: auto;
    margin-top: 1rem;
    color: #6f7061;
}

.desc {
    color: #6f7061;
}

.socials {
    background-color: gray;

}
.socials img {
    width: 40px;
    height: 40px;
    padding: 10px;
}

